---
import Layout from '../components/Layout.astro';
import Headers from '../components/headers/index.astro';
// import second from 'alpinejs'

let selectImageKey = 0;

const PREVIEW_IMAGE = [
'https://img.freepik.com/psd-gratuit/fauteuil-oreiller_176382-861.jpg?w=740&t=st=1651366567~exp=1651367167~hmac=a779c680986c0f3213a2fd5f07dc489650a8929892dba982c72d6daa568143b7',
'https://img.freepik.com/psd-gratuit/fauteuil-oreiller_176382-860.jpg?t=st=1651367256~exp=1651367856~hmac=45f29e235e10e808c81a5439a54a97b7666cbb11710740a0cfe39e703b2c1170&w=740',
'https://img.freepik.com/psd-gratuit/fauteuil-oreiller_176382-862.jpg?t=st=1651367256~exp=1651367856~hmac=c1d075945019a5a68779139c9ce1e2de4697dcad28f161aa197f8e205886ec21&w=740',
'https://img.freepik.com/psd-gratuit/fauteuil-oreiller_176382-863.jpg?t=st=1651367256~exp=1651367856~hmac=ba0b929bd352582c27b7a9d24f7283b9a57c1963570c01fde9e95c2179c3edb2&w=740'
]

const setPreviewImage = (key) => {
  selectImageKey = key;
  console.log(key)
}

const RECENTLY_VIEWED_IMAGE = [
  {
    name: 'Lottie',
    price: '250.99',
    imageUrl: 'https://img.freepik.com/psd-gratuit/fauteuil-oreiller_176382-885.jpg?w=740',
  },
  {
    name: 'Primorse',
    price: '320.99',
    imageUrl: 'https://img.freepik.com/psd-gratuit/chaise-oreiller_176382-883.jpg?t=st=1651367256~exp=1651367856~hmac=671978d08a7dfd7db22dcb5970bbd092126ec10940d79356d710dd38c7d8de0e&w=740'
  }, 
  {
    name: 'Luxury',
    price: '243.99',
    imageUrl: 'https://img.freepik.com/psd-gratuit/chaise-oreiller_176382-877.jpg?t=st=1651367256~exp=1651367856~hmac=706e952842d8c027150c9ca1167e6ce98f60680db9ad00b053f6764339da68ff&w=740'
  }
]
---

<Layout   title="Luxury">
  <main class="w-full h-screen bg-[hsl(0,_0%,_93%)] ">
    <div class="h-full max-w-7xl w-7xl mx-auto">
      <Headers />
      <section class="  w-full  max-w-6xl mx-auto mt-6 grid grid-cols-2 divide-x-4 divide-gray-400">
        <div class=" pt-14 pr-14 space-y-6 ">
          <p class="text-5xl text-gray-900 font-semibold leading-tight">Luxury Most be<br />Comfortable!</p>
          <p class="text-sm text-zinc-500">
            A sectional sofa or an L shaped sofa can make a great <br />addition
            to your living room besed on your needs.
          </p>
          <p class="text-4xl font-semibold">$ 430.99</p>
          <div class="flex space-x-5">
            <div class="flex gap-x-2">
            {[1,2,3,4,5].map(value => <svg class="w-4 h-4 fill-orange-600 stroke-orange-600 " xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
            </svg>)}
            </div>
            <span class="underline  text-zinc-500">441 reviews</span>
          </div>
          <!-- Colour  -->
          <div class="space-y-3">
            <span class="font-medium text-lg">Colour</span>
            <div class="flex gap-x-2">
              <div class="relative group w-7 h-7 aspect-square rounded-full bg-red-500">
                <div class="absolute group-hover:w-full group-hover:translate-x-0 -bottom-2 w-0  translate-x-1/2  transition-all  h-0.5  bg-gray-900 "></div>
              </div>
              <div class="relative group w-7 h-7 aspect-square rounded-full bg-yellow-500">
                <div class="absolute group-hover:w-full group-hover:translate-x-0 -bottom-2 w-0  translate-x-1/2  transition-all  h-0.5  bg-gray-900 "></div>
              </div>
              <div class="relative group w-7 h-7 aspect-square rounded-full bg-green-800">
                <div class="absolute group-hover:w-full group-hover:translate-x-0 -bottom-2 w-0  translate-x-1/2  transition-all  h-0.5  bg-gray-900 "></div>
              </div>
            </div>
          </div>

          <!-- Button -->
          <div class="grid grid-cols-2 gap-x-12 pt-2">
            <button class="border-2 border-gray-900 py-4 text-lg text-gray-900 font-normal hover:bg-gray-900 hover:text-gray-100 transition-colors">Buy Now</button>
            <button class="bg-gray-900 border-2 border-gray-900 py-4 text-lg text-gray-100 font-normal ">All Products</button>
          </div>
        </div>
          <!-- Right side  -->
        <div class="pl-10 flex gap-x-8 ">
          <div class="w-full flex flex-col justify-between ">
              <div class="w-full h-3/5 ">
                <img class="w-full h-full object-cover aspect-video" src="https://img.freepik.com/psd-gratuit/fauteuil-oreiller_176382-861.jpg?w=740&t=st=1651366567~exp=1651367167~hmac=a779c680986c0f3213a2fd5f07dc489650a8929892dba982c72d6daa568143b7" alt="">
              </div>
              <div class="space-y-2">
              <div class="flex justify-between items-center">
                <span class="font-medium text-base">Recently viewed</span>
                <div>
                  <button class="inline-block bg-white p-1 rounded-full">
                    <svg class="  w-5 h-5 " xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <polyline points="15 6 9 12 15 18" />
                    </svg>
                  </button>
                  <button class="inline-block bg-white p-1 rounded-full">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <polyline points="9 6 15 12 9 18" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="flex gap-x-8">
              {RECENTLY_VIEWED_IMAGE.map(({name, price, imageUrl }) => 
                <div class="w-full space-y-2 ">
                  <img class=" w-full object-cover aspect-square" src={imageUrl} alt="">
                  <div class="flex justify-between">
                    <span class=" text-xs font-light">{name}</span>
                    <span class="text-xs font-semibold">$ {price}</span>
                  </div>
                </div>)}
              </div>
            </div>
          </div>
          <div class=" w-[12%] mt-12 space-y-4 ">
            {PREVIEW_IMAGE.map((value, key) => 
              <img x-on:click="alert('Voici un message')"  data-preview-image onclick={`setPreviewImage(${key})`} class={`w-full ${ selectImageKey == key &&  'border-2 border-gray-900'} object-cover aspect-square`} src={value} alt="">
            )}
            

          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
